header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #009ce3;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.5rem;
    left: 0;
    line-height: 3.5rem;
    margin-bottom: .35rem;
    padding: 0 2rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;


    // &:after {
    //     background: url(ribbon.png) 0 0 / 100% no-repeat;
    //     content: '';
    //     height: .35rem;
    //     left: 0;
    //     position: absolute;
    //     right: 0;
    //     top: 100%
    // }

    a {
        text-decoration: none
    }

    .logo {
        font-size: 100%;
        *{
            vertical-align: middle;
        }

        img {
            height: 32px;
            margin-right: 0.5rem;
        }
    }

    nav.shortcuts {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

        list-style-type: none;

        li {
            .fa {
                font-size: 1.5rem;
                margin-right: .5rem
            }

            a:active,
            a:focus,
            a:hover {
                background-color: #4d4d4d;
            }

            a {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                box-sizing: border-box;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: 3.5rem;
                padding: 0 1rem;

                label {
                    margin-bottom: 0rem;
                }
            }
        }
    }

    

    nav.search {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

        // list-style-type: none;
        // padding: 1rem;
        // width: 260px;
        // width: 300px;

        .searchbox {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 2px;
            line-height: 2rem;
            width: 300px;
            // max-height: 2.5rem;
            // height: 2.5rem;
        }

        .searchbox input {
            border-width: 0px;
            border-radius: 0rem;
            height: 2rem;
            border-color: rgba(255,255,255,0.1);
            color: #FFFFFF; 
            background: rgba(0, 0, 0, 0%);
            display: inline-block;
            font-size: 14px;
            line-height: 2rem;
            padding: 0px;
            padding-right:8px;
            margin-bottom: 0px;
            width: 260px;
            // padding-bottom: 6px;
            // padding-left: 12px;
            // padding-right: 12px;
            // padding-top: 6px;
            // width: 80%;

            
        }
        ::placeholder {
            color: #FFF;
            opacity: 0.7;
        }
        ::-webkit-input-placeholder {
            color: #FFF;
            opacity: 0.7;
        }
        ::-moz-placeholder {
            color: #FFF;
            opacity: 0.7;
        }
        :-ms-input-placeholder {
            color: #FFF;
            opacity: 0.7;
        }
        .searchbox i {
            padding: 8px;
            color: #FFF;
        }

        .searchbox span {
            position: absolute;
            float: right;
            margin-top: -45px;
            right: 30px;
            cursor: pointer;
        }

        li {
            .fa {
                font-size: 1.5rem;
                margin-right: .5rem
            }

            a:active,
            a:focus,
            a:hover {
                background-color: #4d4d4d;
            }

            a {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                box-sizing: border-box;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: 3.5rem;
                padding: 0 1rem;

                label {
                    margin-bottom: 0rem;
                }
            }
        }
    }
}

div.links {
    line-height: 2rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
    a {
        height: 2rem;
        vertical-align: middle;
        line-height: 2rem;
    }
}