  <div class="chevrons">
    {{ partial "next-prev-page.html" . }}
  </div>

  </section>
</article>

<!-- <footer>

<div class="footline">
    {{if .Params.tags }}
    <div class="tags"> 
      {{ range $index, $tag := .Params.tags }}
        <a class="label label-default" href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}">{{ $tag }}</a>
      {{ end }}
    </div>
    {{end}}

    {{with .Params.LastModifierDisplayName}}
    <div class="author">
        <i class='fa fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a>
    </div>
    {{end}}

  {{ if not .Page.Lastmod.IsZero }}
    <div class="date">
        <i class='fa fa-calendar'></i> {{T "last-update-on"}} {{ .Page.Lastmod.Format "02/01/2006" }}
    </div>
    {{end}}

    <div class="github-link">
      <a href="{{ .Site.Params.editURL }}{{ replace .File.Dir "\\" "/" }}{{ .File.LogicalName }}" target="blank"><i class="fa fa-code-fork"></i>
        {{T "Edit-this-page"}}</a>
    </div>
  </div>


	<div>
{{ $footer := print "_footer." .Lang }}
{{ range where .Site.Pages "Source.BaseFileName" $footer }}
  {{ .Content }} 
{{else}}
  {{ if .Site.GetPage "page" "_footer.md" }}
    {{(.Site.GetPage "page" "_footer.md").Content}}
  {{else}}
    {{ T "create-footer-md" }}
  {{end}}
{{end}}


	</div>
</footer>-->

{{ partial "flex/scripts.html" . }}